<html>
<body>
	<br/>
	<form name="imap" method='post'>
	<table>
	<tr><td>Username</td><td><input type='text' name='username'/></tr>
	<tr><td>Password</td><td><input type='password' name='password'/></tr>
	<tr><td colspan="2"><b>Flags Options</b></td></tr>
	<tr><td colspan="2"><input type="radio" name="criteria" value="all"/>All flags</td></tr>
	<tr><td colspan="2"><input type="radio" name="criteria" value="unseen" checked />Only flagged, answered, forwarded, and unseen</td></tr>
	<tr><td colspan="2"><b>Folder Options</b></td></tr>
	<tr><td colspan="2"><input type="radio" name="folder" value="all"/>All Folder</td></tr>
	<tr><td colspan="2"><input type="radio" name="folder" value="inbox" checked/>Only Inbox</td></tr>
	<tr><td colspan="2"><input type='submit' value='Start'/></td></tr>
	</table>
	</form>
</body>
</html>
